<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.sys.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.code.sys.entity.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="spread" jdbcType="INTEGER" property="spread" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="available" jdbcType="INTEGER" property="available" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, title, href, spread, target, icon, available
  </sql>

  <!--查询所有菜单-->
  <select id="queryAllMenu" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_menu
    <where>
      <if test="title!=null and title!=''">
        and title like concat("%",#{title},"%")
      </if>
      <if test="available!=null">
        and available=#{available}
      </if>
      <if test="id!=null">
        and (id=#{id} or pid=#{id})
      </if>
    </where>

  </select>


  <!--根据用户id查询菜单-->
  <select id="queryMenuByUid" resultMap="BaseResultMap">
    SELECT DISTINCT
      t1.*
    FROM
      sys_menu t1
        INNER JOIN sys_role_menu t2
        INNER JOIN sys_user t3 ON ( t1.id = t2.mid AND t2.rid = t3.rid )
    WHERE
      t3.id = #{uid} and t1.available=#{available}
  </select>

</mapper>
